body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-image: url("img/pexels-elīna-arāja-3311382.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*
    background-image establece la imagen de fondo.
    background-size: cover asegura que la imagen cubra todo el contenedor, ajustándose automáticamente según su tamaño.
    background-position: center posiciona la imagen en el centro del contenedor.
    background-repeat: no-repeat evita que la imagen de fondo se repita.
    Con estas propiedades, la imagen de fondo se ajustará de manera responsiva al tamaño del contenedor y mantendrá su relación de aspecto.
    */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 10px;
    /* los textarea y label dentro de una clase, con el display:flex: creamos un diseno flexible, 
    luego colocamos los items en el centro de cada clase
    y con el justify-content colocamos los items horizontalmente*/
}

.titulo {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    /*posision del titulo*/
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    /*propiedades del titulo*/
}

.labGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    /*propiedades del grupo de label y textarea
    flex-direction: colocamos los items en columna
    */
}


label {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    padding: 10px;
    /*Caracteristicas del de label
    Ajustamos el margen superior para separar los elementos 
    */
}

textarea {
    border: 4px solid black;
    font-size: 18px;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    /*Caracteristicas del de textarea*/
}

.labBotton {
    display: flex;
    align-items: center;
    /*Propiedades del botton*/
    padding: 10px;
}

.bottom {
    border: 3px solid black;
    margin: 10px;
    position: relative;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    /*Caracteristicas del de Botton*/
}

.bottom:hover {
    transform: scale(1.2);
}

.nota {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

footer {
    font-size: 17px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

@media screen and (max-width: 912px) {

    .titulo,
    h1,
    .labGroup,
    textarea,
    label,
    .bottom,
    .nota,
    footer {
        text-align: center;
        max-width: 100%;
    }
}